#tituloloja {
	text-align: center;
	font-family: Courier, "Lucida Console", monospace;
	font-size: 48px;
}

.tenis {
	height: 350px;
	width: 300px;
}

.roupa {
	height: 350px;
	width: 300px;
}

.acessorios {
	height: 350px;
	width: 300px;
}

.preco {
	font-family: Courier, "Lucida Console", monospace;
	font-size:24px;
	font-weight: bold;
	bottom: 0px;
	color: darkblue;
}

.descricao {
	font-family: Jazz LET, fantasy;
	color: darkorange;
	font-size: 20px;
}

.col-sm {
	margin-top: 80px;
}

.col-sm{
	border-radius: 10px;
	margin: 0% 3% 3% 4%;
}

#titulo01 {
	margin-top: 60px;
	font-family: Didot, serif;
	font-size: 48px;
	text-align: center;
}

#AreaLogin {
	margin: auto;
	margin-top: 20%;
}

#formulario {
	margin: auto;
	transform: translateY(80%);
}

#rodape{
    height: 5%;
	width: 100%;
	background-color: black;
	color: orangered;
	text-align: center;
	font-family: Snell Roundhand, cursive;
	bottom: 0;
}





