#Formulário{
	text-align: center;
}

#rodape{
	height: 5%;
	width: 100%;
	background-color: ;
	color: red;
	text-align: center;
	font-family: monospace;
	bottom: 0;
	display: all;
  
    

}