body{
	background: url(https://i.ytimg.com/vi/2-yQoEkgOiE/maxresdefault.jpg);
	height: ;
	display: flex;
    justify-content: center;
    align-items: center;
}

#cabecalho{
	background-color: darkblue;
	text-align: center;
	font-family: monospace;
    color: white;
}

#cabecalho{
	padding: 2px;
	margin: 2px;
	list-style: none;
}
