body{
	background-image: linear-gradient(to right, #80b3ff,  #b3d1ff, white);
	/*background: url(https://c.tenor.com/iLYPmFMHM_0AAAAj/dunk-de-rozan.gif) no-repeat center;*/
}

.container{
	
	transform: translateY(-70%)  translateX(0%);
}

.conteudo img
{
	transform: translateY(10%)  translateX(140%);
}

.conteudo h3
{
	

	transform: translateY(-150%)  translateX(52%);
	color: #4d94ff;

}

button {
	color: black;
}

.form-group a{
	color: white;
}

